{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OncoWell - Benefícios</title>
  <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  
</head>

<body>
  <div class="nav">
        <a href="{% url 'beneficios' %}"
            class="nav-item {% if current_page == 'beneficios' %}active{% endif %}">Benefícios</a>
        <a href="{% url 'informacoes' %}"
            class="nav-item {% if current_page == 'informacoes' %}active{% endif %}">Informações</a>
        <a href="{% url 'journaling' %}"
            class="nav-item {% if current_page == 'journaling' %}active{% endif %}">Journaling</a>
        <a href="{% url 'testemunhos' %}"
            class="nav-item {% if current_page == 'testemunhos' %}active{% endif %}">Testemunhos</a>
        <a href="{% url 'q&a' %}" class="nav-item {% if current_page == 'q&a' %}active{% endif %}">Q&A</a>
    </div>

  {% if user.is_authenticated %}
  <a href="#" class="user-icon">
    <i class="fas fa-user"></i>
  </a>
  {% else %}
  <a href="{% url 'login' %}" class="login-button">Login</a>
  {% endif %}

  <a href="{% url 'home' %}" class="logo">
    <img src="{% static 'images/logo_oncowell.png' %}" alt="Logo" style="width: 100%; height: 100%;">
  </a>

  <div class="main-content">
    <div class="benefits-section-title">Benefícios</div>
    <div class="benefits-title">Estamos aqui para te acompanhar nesta jornada.</div>
    <div class="benefits-subtitle">A OncoWell mostra cuidado e conforto a cada etapa da jornada contra o cancro.</div>

    <!-- Linhas decorativas -->
    <div class="benefits-decorative-line benefits-decorative-line-1"></div>
    <div class="benefits-decorative-line benefits-decorative-line-2"></div>
    <div class="benefits-decorative-line benefits-decorative-line-3"></div>
    <div class="benefits-decorative-line benefits-decorative-line-4"></div>

    <!-- Blocos de conteúdo -->
    <div class="benefits-content benefits-content-1">
      Explore o impacto transformador da prática de journaling para o bem-estar mental e emocional. Perceba a
      importância de registrar pensamentos e sentimentos.
    </div>
    <div class="benefits-content-title benefits-content-title-1">Valor do Journaling</div>

    <div class="benefits-content benefits-content-2">
      Todas as informações e registros escritos são mantidos em segurança e com total anonimato, garantindo um espaço
      seguro para expressão pessoal.
    </div>
    <div class="benefits-content-title benefits-content-title-2">Privacidade e Anonimato</div>

    <div class="benefits-content benefits-content-3">
      Compartilhe histórias reais de pacientes que experimentaram e obteram melhorias significativas na sua saúde
      emocional e mental através do journaling online.
    </div>
    <div class="benefits-content-title benefits-content-title-3">Relatos e Depoimentos</div>

    <div class="benefits-content benefits-content-4">
      A escrita pode ser uma ferramenta de autocuidado e terapia, promovendo clareza mental, redução do stress e
      autoconhecimento.
    </div>
    <div class="benefits-content-title benefits-content-title-4">Benefícios Terapêuticos da Escrita</div>

    <!-- Ícones -->
    <img src="{% static 'images/privacidade.png' %}" class="benefits-icon benefits-icon-1" alt="Privacidade" />
    <img src="{% static 'images/escrita.png' %}" class="benefits-icon benefits-icon-2" alt="Escrita" />
    <img src="{% static 'images/journaling_valor.png' %}" class="benefits-icon benefits-icon-3" alt="Journaling" />
    <img src="{% static 'images/relatos.png' %}" class="benefits-icon benefits-icon-4" alt="Relatos" />

    <!-- Rodapé -->
    <div class="benefits-footer"></div>
  </div>
</body>

</html>